.cart-number{
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    font-size: 1em;
    color: white;
    text-align: center;
    background: blue;
    top:-12px;
    right:9px;
    position:absolute;
}
