@inject NavigationManager Nav
@inject IConfiguration Config

@if (cultures is not null)
{
    <form class="form-inline">
        <select class="form-control mr-2" @bind="selectedCulture">
            @foreach (var item in cultures)
            {
                <option value="@item.Key">@item.Value</option>
            }
        </select>
        <button class="btn-danger" @onclick="RequestCultureChanged">change</button>
    </form>
}
@code {

    private string selectedCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

    private Dictionary<string, string> cultures;

    protected override void OnInitialized()
    {
        cultures = Config.GetSection("Cultures")
          .GetChildren().ToDictionary(x => x.Key, x => x.Value);

    }

    

    void RequestCultureChanged()
    {
        if(string.IsNullOrEmpty(selectedCulture))
            return;
        var uri = new Uri(Nav.Uri)
        .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);


        var query = $"?culture={Uri.EscapeDataString(selectedCulture)}&" +
            $"redirectUri={Uri.EscapeDataString(uri)}";

        Nav.NavigateTo("/Culture/SetCulture" + query, forceLoad: true);
    }
}
