@page "/"
@inject  IStringLocalizer<App> T

<h1>@T["Hello world"]</h1>
<h2>@DateTime.Now.ToShortDateString()</h2>
<h2>@DateTime.Now.ToLongDateString()</h2>

<SurveyPrompt Title="How is Blazor working for you?" />
