

<div class="container">
<div class="row">
    <section class="col-3">
       <h5 class="text-warning">sort</h5>
     <select class="custom-select">
     <option>A-z</option>
     <option>Price from high to low</option>
     <option>Price from low to high</option>
    </select>


      <h5 class="text-warning ml-3">Brands</h5>
      <ul class="list-group mb-3">
          <li class="list-group-item" *ngFor="let brand of brands"
              [class.active]="brand.id === brandIdSelected" [value]="brand.id"
              (click)="onBrandSelected(brand.id)">
              {{brand.name}}
          </li>
      </ul>

      <h5 class="text-warning">Types</h5>
      <ul class="list-group my-3" >
       <li class="list-group-item"

       *ngFor="let type of productTypes"
       [class.active]="type.id === this.typeIdSelected"
       [value]="type.id"
       (click)="onTypeSelected(type.id)"
       >{{type.name}}</li>
     </ul>

    </section>
    <section class="col-9">
        <div class="d-flex justify-content-between align-content-center pb-2">
            <header>
                <span>showing <strong>10</strong> out of <strong>50</strong></span>
            </header>

            <div class="form-inline">
                <input class="form-control" type="text" placeholder="search" style="width: 300px;">
                <button class="btn btn-outline-primary ml-2">search</button>
                <button class="btn btn-outline-success ml-2">reset</button>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 mb-4" *ngFor="let item of products" >

                <app-product-item [product]="item"></app-product-item>

            </div>
        </div>
    </section>
</div>
</div>
